# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
.venv
*.egg
*.egg-info/
dist/
build/
*.log

# Flask
instance/
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log
*.out
*.err

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Test coverage
htmlcov/
.tox/
.coverage
.cache

# Deployment
*.ngrok
*.pem

# Other
.idea/
*.iml
*.sublime-workspace
*.sublime-project
/venv
backend/.env
/backend/app/static/uploads/pdfs
/backend/uploads
.manus

# Archive / compressed files
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.bz2
*.xz
fire_dept_automation/uv.lock

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*

# Ignore root .md except README.md
/*.md
!README.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!SECURITY.md
